:root { 
  --side-bar-blue: #1AA3D9; 
  --background-grey: #E2E8F0; 
  --yellow-accent: #F2AE2E; 
  --white: #FFFFFF; 
} 

* { 
  margin: 0; 
  padding: 0; 
  line-height: 1.5;
  font-size: 14px; 
} 

.content { 
  background: var(--background-grey); 
  width: 100vw; 
  height: 100vh; 
  display: grid; 
  grid-template-columns: repeat(5, minmax(100px, 1fr)); 
  grid-template-rows: minmax(100px, 1fr) minmax(2rem, 60px) repeat(4, minmax(100px, 1fr)); 
} 

.sidebar {
  background: var(--side-bar-blue); 
  color: white; 
  font-size: 14px;
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 1/2; 
  gap: 2rem; 
  display: flex; 
  flex-direction: column; 
}

.sidebar > div { 
  display: flex; 
  flex-direction: column; 
  gap: 1rem; 
 } 

.nav > h1 { 
  font-size: 2rem; 
  font-weight: 700; 
} 

div > div > div > ul > li { 
  list-style: none; 
  font-size: 1.5rem; 
  font-weight: 700; 
} 


.admin { 
  grid-row: 3 / 4; 
}

.header { 
  margin: 1rem; 
  padding: 1rem; 
  border-radius: 1rem; 
  background: var(--white); 
  grid-row: 1 / 2; 
  grid-column: 2 / 6; 
  display: grid; 
  grid-template-columns: 3fr 2fr; 
  grid-template-rows: 1fr 1fr; 
  box-shadow: 5px 5px 5px #808080; 
} 

.header > div { 
  display: flex; 
  justify-content: center; 
  align-self: center; 
}

.item { 
  background: white; 
  border-left: 5px solid var(--yellow-accent); 
  border-radius: 1rem; 
  padding: 1rem; 
} 

#announcements { 
  background: white; 
  border-radius: 1rem; 
  padding: 1rem; 
  box-shadow: 5px 5px 5px #808080; 
  display: grid; 
} 

.main { 
  display: grid; 
  grid-column: 2 / 6; 
  grid-row: 3 / 8; 
  grid-template-columns: repeat(2, 2fr) 1.5fr; 
} 

.projects {
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 1 / 3; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem; 
}

.projects > div { 
  box-shadow: 5px 5px 5px #808080; 
} 

.info { 
  gap: 1rem; 
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 3 / 4; 
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 4fr minmax(20px, 0.5fr) 4fr; 
  border-radius: 1rem;  
  padding-top: .8rem; 
} 

#trending { 
  display: grid; 
  background: white; 
  padding: 1rem; 
  border-radius: 1rem; 
  box-shadow: 5px 5px 5px #808080; 
  grid-template-rows: repeat(3, 1fr); 
}

#trending > div { 
  border-bottom: 1px solid #767676; 
  padding: 1rem; 
  display: flex; 
  flex-direction: column; 
  align-items: start; 
  justify-content: center;  
} 

#trending :last-child { 
  border-bottom: none; 
} 

.content-titles { 
  grid-row: 2 / 3;
  grid-column: 2 / 6;  
  display: grid; 
  grid-template-columns: repeat(8, 1fr); 
  padding: 1rem .5rem; 
} 

#announcements-header { 
 grid-column: 7 / 9; 
 font-size: 1.5rem; 
} 

#projects-header { 
 margin-left: 1rem;
 font-size: 1.5rem;  
} 

#trending-header > h1 { 
  margin-left: 0.5rem; 
  font-size: 1.5rem; 
  padding: 0.5rem; 
}

#announcements > div { 
  border-bottom: 1px solid grey;  
  display: flex; 
  flex-direction: column; 
  align-items: start; 
}

#announcements :last-child { 
  border-bottom: none;
}

.preview > p { 
  color: #767676;   
}


