:root { 
  --side-bar-blue: #1AA3D9; 
  --background-grey: #E2E8F0; 
  --yellow-accent: #F2AE2E; 
  --white: #FFFFFF; 
} 

* { 
  margin: 0; 
  padding: 0; 
  line-height: 1.5;
  font-size: 14px; 
} 

.content { 
  background: var(--background-grey); 
  width: 100vw; 
  height: 100vh; 
  display: grid; 
  grid-template-columns: repeat(5, minmax(100px, 1fr)); 
  grid-template-rows: repeat(6, minmax(100px, 1fr)); 
} 

.sidebar {
  background: var(--side-bar-blue); 
  color: white; 
  font-size: 14px;
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 1/2; 
  gap: 2rem; 
  display: flex; 
  flex-direction: column; 
}

.sidebar > div { 
  display: flex; 
  flex-direction: column; 
  gap: 1rem; 
 } 

.nav > h1 { 
  font-size: 2rem; 
  font-weight: 700; 
} 

div > div > div > ul > li { 
  list-style: none; 
  font-size: 1.5rem; 
  font-weight: 700; 
} 


.admin { 
  grid-row: 3 / 4; 
}

.header { 
  margin: 1rem; 
  padding: 1rem; 
  border-radius: 1rem; 
  background: var(--white); 
  grid-row: 1 / 2; 
  grid-column: 2 / 6; 
  display: grid; 
  grid-template-columns: 3fr 2fr; 
  grid-template-rows: 1fr 1fr; 
  box-shadow: 5px 5px 5px #808080; 
} 

.header > div { 
  display: flex; 
  justify-content: center; 
  align-self: center; 
}

.item { 
  background: white; 
  border-left: 5px solid var(--yellow-accent); 
  border-radius: 1rem; 
  padding: 1rem; 
} 

#announcements { 
  background: white; 
  border-radius: 1rem; 
  padding: 1rem; 
  box-shadow: 5px 5px 5px #808080; 
} 

.main { 
  display: grid; 
  grid-column: 2 / 6; 
  grid-row: 2 / 7; 
  grid-template-columns: repeat(2, 2fr) 1.5fr; 
} 

.projects {
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 1 / 3; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem; 
}

.projects > div { 
  box-shadow: 5px 5px 5px #808080; 
} 

.info { 
  gap: 2rem; 
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 3 / 4; 
  display: grid; 
  grid-template-columns: 1fr;
  border-radius: 1rem;  
} 

#trending { 
  background: white; 
  padding: 1rem; 
  border-radius: 1rem; 
  box-shadow: 5px 5px 5px #808080; 
} 


