* { 
  margin: 0; 
  padding: 0; 
  line-height: 1.5;
  font-size: 14px; 
} 

.content { 
  background: grey; 
  width: 100vw; 
  height: 100vh; 
  display: grid; 
  grid-template-columns: 1fr 4fr; 
  grid-template-rows: minmax(100px, 1fr)  2fr 2fr; 
} 

.sidebar {
  background: blue; 
  grid
} 

.item { 
  background: white; 
} 

#announcements { 
  background: white; 
} 

#trending { 
  background: white; 
} 


