* { 
  margin: 0; 
  padding: 0; 
  line-height: 1.5;
  font-size: 14px; 
} 

.content { 
  background: grey; 
  width: 100vw; 
  height: 100vh; 
  display: grid; 
  grid-template-columns: repeat(5, minmax(100px, 1fr)); 
  grid-template-rows: repeat(6, minmax(100px, 1fr)); 
} 

.sidebar {
  background: blue; 
  grid-row: 1 / 7; 
  grid-column: 1/2; 
  display: grid; 
  grid-row: 1fr 1fr; 
} 

.header { 
  background: white; 
  grid-row: 1 / 2; 
  grid-column: 2 / 6; 
  display: grid; 
  grid-template-columns: 3fr 2fr; 
  grid-template-rows: 1fr 1fr; 
} 

.item { 
  background: white; 
} 

#announcements { 
  background: white; 
} 

.main { 
  display: grid; 
  grid-column: 2 / 6; 
  grid-row: 2 / 7; 
  grid-template-columns: repeat(2, 2fr) 1.5fr; 
} 

.projects {
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 1 / 3; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem; 
} 

.info { 
  gap: 2rem; 
  padding: 1rem; 
  grid-row: 1 / 7; 
  grid-column: 3 / 4; 
  display: grid; 
  grid-template-columns: 1fr; 
} 

#trending { 
  background: white; 
} 


